


.tictactoe {
	margin-top: 200px;
	margin-right: 430px;
	margin-left: 430px;
	padding-left: 50px;
	padding-right: 20px;
	font: serif;
	font-size: 70px;
	text-align: center;
	background-color: lightgray;
}

.tactactoe show {
	padding-left: 30px;
}

.board_spacing {
	padding-right: 50px;
	margin-left: 5px;
}