


.tictactoe {
	margin-top: 200px;
	margin-right: 430px;
	margin-left: 430px;
	padding-left: 50px;
	padding-right: 20px;
	height: 313px;
	width: 256px;
	font: serif;
	font-size: 70px;
	text-align: center;
	background-color: lightgray;
}
.show_display {
	margin-top: 200px;
	margin-right: 430px;
	margin-left: 430px;
	padding-left: 10px;
	padding-right: 20px;
	font: serif;
	font-size: 70px;
	text-align: center;
	background-color: lightgray;
}

.board_spacing {
	padding-right: 50px;
	margin-left: 5px;
}

.unselected {
	font-size: 15px;
	color: blue;
}